body {
    background-color: #f9f7fe;
}

.all {
    background-color: white;
    margin: auto;
    display: block;
    width: 600px;
    padding: 30px;
    margin-top: 80px;
    border-radius: 15px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
    border-bottom: 1px solid #f9f7fe;
}

.form1 {
    background-color: #f9f7fe;
    width: 80%;
    border: none;
    padding: 15px 12px;
    border-radius: 7px;
    font-size: 16px;

}

.form2 {
    background-color: #885df1;
    width: 80px;
    border: none;
    padding: 15px 12px;
    margin: 5px;
    border-radius: 7px;
    color: white;
    font-size: 16px;
}

strong {
    color: #f65282;
    font-weight: bold;
}

.red {
    color: #f65282;
}

.one {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.temprature-container {
    display: flex;
}

.one1 {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.one2 {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

p {
    color: rgba(0, 0, 0, 0.6);
}

ul {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    display: flex;
    justify-content: space-between;
}

a {
    color: #885df1;
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-top: 30px;
}

.no1 {
    font-size: 30px;
    margin-top: 22px;
}

.no2 {
    font-size: 88px;
    margin-left: 10px;
    font-weight: bold;
}

.no3 {
    margin-top: 20px;
    font-size: 28px;
}

.icoon {
    margin-top: -5px;
        margin-right: -10px;
}
#weather-forecast {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}
.weather-forcast {
    display: flex;
    align-items: center;
        gap: 10px;
    justify-content: space-between;
    margin: auto 20px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(39, 35, 56, 0.4);
}
.weather-forcast-temperature {
    color: #f65282;
    margin-top: 10px;
}
#weather-forcast-temperature {
    color: #f65282;
    text-align: center;
        margin-left: -15px;
    }
    
    img {
        width: 70px;
        text-align: center;
        margin-left: -25px;
}